<h2>Create a new IOU</h2>

<%= form_for @transaction, url: { action: "create" } do |f|  %>
  <h3>Pick a User</h3>
  <p>
    <%= f.label :payer_id, "Payer" %>
    <%= select("transaction", "payer_id", User.all.collect {|u| [ u.email, u.id ] }, {include_blank: 'None'})
    %>
  </p>
  <p>
    <%= f.label :payee_id, "Payee" %>
    <%= select("transaction", "payee_id", User.all.collect {|u| [ u.email, u.id ] }, {include_blank: 'None'})
    %>
  </p>
  <p>
    <%= f.label :amount, "Amount" %>
    <%= f.text_field :amount %>
  </p>
    <%= f.submit "Create" %>
<% end %>
