<!DOCTYPE html>
<html>
<head>
  <title>CashOnly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- ADD TOP BAR, WRAP CONTENT INSIDE -->




  <nav class ="top-bar" id ="user_nav">
    <ul class="title-area">
      <li class ="name">
        <h1><%= link_to("Ca$h Only", root_path) %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
          <% if !current_user %>
            <li class="active"><%= link_to("Sign in" , new_user_session_path) %></li>
            <li><%= link_to("Sign up" , new_user_registration_path) %></li>
          <% else %>
            <li class="active"><%= link_to(current_user.email , dashboard_index_path) %></li>
            <li><%= link_to("Sign out", destroy_user_session_path, method: :delete) %></li>
            <li><a href="#">About</a></li>
            <li><%= link_to("Friends", friends_path)%></li>
          <% end %>
        <li class="divider"></li>
        <li class="divider"></li>
      </ul>
    </section>

  </nav>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>






<!--
    <% if !current_user %>
    <div>
      <%= link_to("Sign up" , new_user_registration_path) %>
    </div>
    <div>
      <%= link_to("Sign in" , new_user_session_path) %>
    </div>
    <% else %>
    <div>
      Signed in as <%= current_user.email %>
    </div>
    <div>
      <%= link_to("Sign out", destroy_user_session_path, method: :delete) %>
    </div>
    <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->


<%= yield %>


<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright 2014 Nathan Burgess</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="https://github.com/NB28VT">My Github Page</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>










</body>
</html>
